@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form-page {
	width: 360px;
	padding: 2% 0 0;
	margin: auto;
}

.navbar{
	border-radius: 0 !important;
}

.navbar li>a:hover, .offcanvas a:focus {
	background-color: #225E6D;
} 
/* --------------------------------------------------------------------  FORM */
.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	text-align: center;
}

.form .glyphicon {
	font-size: 2.0em;
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #6699F2;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
	background: #5587DF;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #4CAF50;
	text-decoration: none;
}

.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}

.container:before, .container:after {
	content: "";
	display: block;
	clear: both;
}

.container .info {
	margin: 50px auto;
	text-align: center;
}

.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}

.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}

.container .info span a {
	color: #000000;
	text-decoration: none;
}

.container .info span .fa {
	color: #EF3B3A;
}

/* --------------------------------------------------------------------  End of Form */

/* --------------------------------------------------------------------  Display Tag Library */
.itemFound {
	
}

th>a:hover, th>a:active, th>a:focus {
	color: Black;
}

.odd {
	background-color: skyblue;
}

.even {
	background-color: lightblue;
}
/* --------------------------------------------------------------------  End of Display Tag Library */

/* --------------------------------------------------------------------  Panel */
.panel{
	border-radius: 0 !important;
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #00687d;
	border-color: #00687d;
	height: 40px;
}

.panel-primary {
	border-color: #ABB7B6;
}
/* --------------------------------------------------------------------  End of Panel  */

/* --------------------------------------------------------------------  Profile Page Picture */
#file-upload-button {
	display: none;
}

#file-save-button {
	display: none;
}

#file-save-button {
	margin-top: 20px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#img-preview {
	max-height: 220px;
	min-height: 220px;
	min-width: 230px;
	max-width: 230px;
	border-radius: 250px;
}
/* --------------------------------------------------------------------  End of Profile Page Picture */
body {
	background: #f5f5f5; /* fallback for old browsers */ 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}